{% extends 'base.html' %}

{% block title %}login页{% end %}

{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data" action="/login?next={{nexturl}}">
        <div class="row">
            <br>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row"  >
            <div class="col-md-2">
                用户名：
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Please input User name" id="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                密&nbsp&nbsp 码：
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" id='password' name="password" placeholder="Please input Password">
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2" >
                <input class="btn btn-success" style="font-size: 16px;height: 38px;width: 58px" type="submit" id="submit" value="登陆">
            </div>
            <div class="col-md-5">
                <a href="/regist"><button type="button" class="btn btn-success">注册</button></a>
            </div>
        </div>
    </form>
</div>

{% end %}

