{% extends 'base.html' %}

{% block title %}Upload页{% end %}

{% block content %}
    <div class="form-group">
        <form action="/upload" enctype="multipart/form-data" method="post">
            <label for="exampleInputFile">上传图片</label>
            <input type="file" name="newimg" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">请选择JPG格式的图片文件</small>
            <input class="btn btn-success" style="font-size: 16px;height: 38px;width: 100px" type="submit" id="submit" value="上传图片">
        </form>
    </div>
{% end %}